*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F2F2F2;
    font-family: 'Modak',cursive;
    font-family: 'Hind',sans-serif;
    font-size: 1.2em;
}

header, footer{
    background-color: #BEBDBF;
    height: 150px;
}



nav{
    height: 75px;
    background-color: #1A1C26;
    text-align: center;
}

    nav a{
        text-decoration: none;
        color:#faf8f7;
        font-size: 1.5em;
        display: inline-block;
        margin: auto;
        padding: 14px;
    }

    a:hover{
        background-color: #3e4568;
    }



main{
    min-height: 500px;
    width: 980px;
    margin: auto;

}

    #articulos article{
        width: 300px;
        display: inline-block;
        margin: 20px 0px 0px 20px;
        
    }

    #promo{
        width: 940px;
        background-color: #6A6A73;
        margin: 20px;
        padding: 20px;
        box-sizing: border-box       /*ojo no funciona en todos los navegadores*/
    }

footer{
    box-sizing: border-box;
    text-align: center;
    padding-top: 50px;
    
}