body{
    background-color: #f4dec8;
    color: #33302a;
    font-family: helvetica;
    font-size: 1.2em;
}

header{
    background-color: #33302A;
}

nav{
    background-color: #706946;
}

main{


}

footer{
    background-color: #33302A;

}