body{
    background-color: #f4dec8;
    color: #33302a;
    font-family: helvetica;
    font-size: 1.2em;
    width: 1024px;
    margin: auto;
}

header{
    background-color: #33302A;
    height: 140px;
    
}

nav{
    background-color: #706946;
    height: 60px;
    
}

main{
    min-height: 250px;
    
}

footer{
    background-color: #33302A;
    height: 150px;
     
}